<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>

       <add name="Projet1BaseDeDonnee3.Properties.Settings.BDVoyagesGuellehConnectionString"
            connectionString="Data Source=  tcp:424sql.cgodin.qc.ca,5433;Initial Catalog=BDTP1Guelleh_Marrero;Persist Security Info=True;User ID=5B6Guelleh;Password=Amj2ghT7COd1"
            providerName="System.Data.SqlClient" />  
            
            <add name="Projet1BaseDeDonnee3.Properties.Settings.BDTP1Guelleh_MarreroConnectionString"
            connectionString="Data Source=  tcp:424sql.cgodin.qc.ca,5433 ;Initial Catalog=BDTP1Guelleh_Marrero;Persist Security Info=True;User ID=5B6Marrero;Password=Linuxmaster134"
            providerName="System.Data.SqlClient" />


      <!-- <add name="Projet1BaseDeDonnee3.Properties.Settings.BDVoyagesGuellehConnectionString"
                connectionString="Data Source=424-SQL2017,5433;Initial Catalog=BDTP1Guelleh_Marrero;Persist Security Info=True;User ID=5B6Guelleh;Password=Amj2ghT7COd1"
                providerName="System.Data.SqlClient" />
            <add name="Projet1BaseDeDonnee3.Properties.Settings.BDTP1Guelleh_MarreroConnectionString"
                connectionString="Data Source=424-SQL2017,5433;Initial Catalog=BDTP1Guelleh_Marrero;Persist Security Info=True;User ID=5B6Marrero;Password=Linuxmaster134"
                providerName="System.Data.SqlClient" />-->
    
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>